html {
    height: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* border: 1px solid red; */
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: inherit;
    display: flex;
}

header {
    position: relative;
    background-image: url(colosseum.jpg);
    background-size: cover;
    flex: 1 1 35%;
    overflow: hidden;
}

.logo-container {
    position: absolute;
    width: 100%;
    padding: 10px;
    top: 25%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2)
}

.logo {
    width: 20%;
    aspect-ratio: 1;
}

.logo-container::after {
    content: "COLOSSEUM";
    font-size: 4rem;
}

.background-credit {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}

main {
    padding: 0 10%;
    flex: 1 1 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.call-to-action > h1 {
    margin: 16px;
}

fieldset {
    padding: 1rem;
}

legend {
    float: left; /* Moves legend inside fieldset while maintaining relative positioning */
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-left: 0.25rem;
}

.form-container {
    clear: both; /* Ensures form container will position below the legend, not beside it */
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}

.form-item {
    font-size: 1rem;
    width: 40%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.75em;
    font-weight: bolder;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: uppercase;
}

input {
    font-size: 0.9em;
    padding: 0.35em;
    border: 1px solid lightgray;
    border-radius: 5px;
}

input:focus {
    outline: 1px solid blue; /* Changing border does not work */
}